node_modules
.ionide/symbolCache.db
npm-debug.log
.DS_Store
*.env
*.env.*
server/*.env
server/*.env.*
.vscode/launch.json
node_modules/mongodb
node.log_.*
.vs
run.bat
.vscode/launch.json
node_modules/mongodb/index.js
node_modules/mongodb/LICENSE.md
node_modules/mongodb/package.json
node_modules/mongodb/README.md
node_modules/*.*
.env
